button {
  outline: none;
  border-color: transparent;
}

@media (min-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.page-container {
  padding: 0 2rem;
}

@media (min-width: 800px) {
  .page-container {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title-container {
  text-align: center;
  margin-bottom: 4rem;
}

.work-well {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 40px;
  padding: 0 6rem;
}

.work-well span {
  color: #3ec8d0;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .btn-container {
    width: 30rem;
  }
}

.signup,
.login {
  background-color: #3ec8d0;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

@media (min-width: 800px) {
  .img-container {
    width: 30rem;
    margin: 0 auto;
  }
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #3ec8d0;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1rem;
}

.section img {
  width: 11rem;
}

.section p {
  font-size: 20px;
  text-align: left;
}

.bold {
  font-weight: bold;
}

/* SIGNUP AND LOGIN PAGE */

.arrow-return {
  text-decoration: none;
  font-size: 35px;
  color: #3e7bc3;
  cursor: pointer;
}

@media (min-width: 800px) {
  .arrow-return {
    margin-left: 15rem;
  }
}

.arrow-return:hover,
.arrow-return:active {
  color: #3ec8d0;
}

.big-text {
  text-align: center;
  font-size: 25px;
  margin: 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  margin-bottom: 0.5rem;
}

.input {
  margin-bottom: 1.5rem;
  padding: 0.7rem 1.5rem;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.37);
}

.error-noti {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  color: rgb(235, 53, 53);
  font-weight: bold;
}

.normal-btn {
  background-color: #3e7bc4;
  box-shadow: 0 5.3px 10px rgba(0, 0, 0, 0.042), 0 42px 80px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  font-size: 19px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.normal-btn:hover {
  background-color: #2f5d96;
}

/* ACTIVITY SCREEN */

.blue-container {
  border: 1px solid #3ec8d0;
  padding: 1.5rem;
  height: 25rem;
  font-size: 19px;
  line-height: 1.5rem;
}

@media (min-width: 800px) {
  .blue-container {
    width: 35rem;
    margin: 0 auto;
  }
}

.normal-text {
  margin-bottom: 1rem;
}

.spaced {
  margin-bottom: 4rem;
  text-align: center;
}

.spaced-top {
  margin-top: 1rem;
}

.activity-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-btn {
  align-self: flex-end;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.27);
  background-color: #f8f4f4;
  color: #a29f9f;
  font-size: 25px;
  cursor: pointer;
}

.more-btn:hover {
  background-color: #d6d4d4;
  color: rgb(78, 76, 76);
}

@media (min-width: 800px) {
  .large-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.activity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding: 0.3rem 0;
}

.with-space {
  margin-top: 2rem;
}

.link-container {
  display: flex;
  justify-content: flex-end;
}

.forward {
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #3e7bc4;
  color: white;
  border-radius: 100%;
  padding: 0.5rem;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 800px) {
  .forward {
    margin-left: 1rem;
  }
}

.forward:hover {
  background-color: #2f5d96;
}

.forward:active {
  background-color: #3ec8d0;
}

.center {
  text-align: center;
}

@media (min-width: 800px) {
  .center-web {
    text-align: center;
  }
}

.label {
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-top: 2rem;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 33, 33, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 25rem;
  padding: 1.5rem 1rem;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.align {
  margin-top: 5rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.text {
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
}

.go {
  background: #3ec8d0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.go:hover {
  background: #2e989e;
}

.logout {
  background: #d03e3e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.logout:hover {
  background: #922b2b;
}

.spaced-bot {
  display: flex;
  justify-content: center;
}

.little {
  align-self: center;
  margin-top: 8rem;
}

.btn-cont {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 6rem 0;
}

.less-space {
  padding: 0 1rem;
}

/* TIMER */

.timer-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.number {
  text-align: right;
  font-weight: bold;
  color: #3e7bc4;
}

.number-final {
  text-align: center;
  font-weight: bold;
  color: #3e7bc4;
}

.title-cont {
  border: 1px solid rgba(0, 0, 0, 0.37);
  text-align: center;
  padding: 0.3rem 0;
  font-weight: bold;
  margin-bottom: 1rem;
}

.time {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 1rem;
}

.img-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.image {
  width: 17rem;
}

.img-s {
  height: 10rem;
}
